.atl
.git
.github
.gitignore
.editorconfig
.docs
.idea
.vscode
.opencode
.mimocode
.codegraph
.tmp
*.iml
**/target
deploy-orchestrator
resource-profiling
odd
openspec
.commitlintrc.json
*.log
*.md
.gitlab-ci.yml
_config.yml
Readme.adoc
